body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(0, 13, 017);
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/img/_d8999f8a-8400-467f-ae54-e4e7489c411b.jpeg);
    background-position: center;
    width: 60%;
    border-radius: 50px;
}

#contenedorcentrado {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    border: 3px solid #333;
}

#login {
    padding: 20px;
}

#loginform {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#derecho {
    background-color: beige;
    color: black;
    text-align: center;
    padding: 10px;
}

.titulo-login {
    font-size: 30px;
    text-align: center;
}

hr {
    border: 1px solid black;
    margin: 10px 0;
}

.pie-form {
    font-size: 14px;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}